body {
  min-width: 676px;
  background-color: #282c34;
  color: royalblue;
  font-family: "HyliaSerifBeta";
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
  color:ivory;
}

.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5em;
  padding-top: 25px;
  margin-bottom: 10px;
}

.NavLinkList {
  clear: both;
  margin: 5px;
  padding: 3px;
  color: saddlebrown;
  background-color:burlywood;
  font-weight: bold;
  font-size: 1.75 em;
  font-family: "HyliaSerifBeta";
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 3px;
}

.NavLinkList.active {
  text-decoration: none;
  padding: 8px;
}

.listItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

img {
  margin-top: 10px;
  max-width: 250px;
}

.listItems img:hover {
  box-shadow: rgba(65,105,224, 0.16) 0px 1px 4px, rgb(65, 105, 224) 0px 0px 0px 3px;
}


.loading {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.Modal {
  position: fixed;
  align-content: center;
  z-index: 99;
  background-color: #282c34;
  top: 25vh;
  left: 30vw;
  width: 45vw;
  height: 50vh;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(65,105,224, 0.56) 0px 0px 25px 15px;
  text-transform: none;
}

.modalImg {
  max-height: 75px;
  padding-bottom: 15px;
}

.modalButton {
  display: flex;
  justify-content: flex-end;
  max-height: 25px;
  font-family: "HyliaSerifBeta";
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
  rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
  rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 3px;
  color: saddlebrown;
  background-color:burlywood;
}

.behindModal.blur {
  filter: blur(5px);
}

